* {
    padding: 0px;
    margin: 0px;
    font-family: 'candara';
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 50px 0px;
}

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 350px;
    height: 128.4px;
}

.divNome {
    padding: 10px;
    font-size: 50px;
}

.divIcon {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.divPrincipal {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.divNormal p {
    padding: 5px;
}

.divEspecial p {
    padding: 5px;
}